  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    background-color: black;
    font-family:'Poppins';
  }
 
  .starting-image {
    width: 50px;
    height: 60px;
  }
  .divider {
    border: none;
    height: 1px;
    background-color:rgb(50, 205, 50);
    width: 100%;
    margin-bottom: 0;
    margin-top:0;
  }
  .main-container {
    background-color: #ffffff;
    padding-top:0px;
    height: 630px;
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.6);
   }
  .content > p {
    font-size: 40px;
    text-align: left;
    margin-left: 50px;
    font-weight: 900;
    color: rgb(40, 55, 42)
  }
  #main-button {
    margin-left: 100px;
    margin-top: 50px;
    font-size: 22px;
    color: white;
    font-weight: 700;
  }
  a {
    text-decoration: none;
  }
  .background-container {
    background-image: url('Images/yes.jpg');
    background-size: contain; /* Ensures the entire image is visible */
    background-repeat: no-repeat;
    background-position: center; /* Centers the image */
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    color: rgb(0, 0, 0);
    margin: 0 30px 0px 30px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    margin-top: 0px;
  }
  .content > button {
    background-color: rgb(76, 204, 250);
    color: white;
    height: 60px;
    width: 180px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
  }
  .section-2 {
    margin-top: 0px;
    font-family: 'Poppins';
    margin-bottom: 100px;
    background-color:black
  }
  .section-heading {
    text-align: center;
    font-weight: bolder;
    color:#96F522;
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 70px;
  }
  .dash {
    width: 80px;
    height: 1px;
    background-color: grey;
    border: none;
  }
  .section-2 > p {
    text-align: left;
    margin: 70px 130px 50px 130px;
    font-size: 25px;
    color:#fafafa;
    font-weight: 300;
  }
  .key-features{
    margin-top: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-left:40px;
    margin-right: 40px;
  }
  .feature{
    display: flex;
    flex-direction:column;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    padding:70px;
    background-color: #ffffff;
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.6);
    gap:20px;
  }
  .feature>p{
    color: black;
    margin: 0;
    font-weight: bold;
    text-align: center;
  }
  .description{
    font-size: 20px;
    margin-top:30px;
    margin-left: 65px;
    color:white;
  }
  .feature{
    font-size:30px;
  }
  .recycling-process{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#333;
    padding-top:80px;
    padding-bottom: 80px;
  }
  .img-text>h1{
      color:#96F522;
      text-align: center;
      font-weight: bolder;
      font-size: 50px;
      margin: 0;

  }
  .img-process>img{
    width: 1024px;
    height: 576x;
    border: 3px solid black;
    margin-top:30px;
  }
  .section-3 {
    background-color: black;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
  }
  .first-event {
    display: flex;
    flex-direction: row;
    margin: 70px 100px 50px 100px;
  }
  .first-image {
    justify-content: flex-start;
    transition: box-shadow 0.3s;

  }
  .first-image:hover{
    transform: translate(3px, -3px); 
  }
  .first-text {
    justify-content: flex-end;
    margin-left: 60px;
    text-align: left;
    font-size: 20px;
    color: white;
    font-weight: 300;
  }
  .first-image > img {
    width: 500px;
    height: 100%;
   
  }
  .first-image{
    transition: transform 0.6s ease;
  }
  .first-image:hover {
    transform: translate(5px, -5px); 
    cursor: pointer;
  }
  .second-event {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
  } 
  .second-image>img{
    width: 500px;
    height: 100%;
  }
  .second-text {
    justify-content: flex-start;
    text-align: left;
    margin-right: 60px;
    font-size: 20px;
    color: white;
    font-weight: 300;

  }
  .second-image{
    transition: transform 0.6s ease;
  }
  .second-image:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white inset;
    transform: translate(5px, -5px); 
    cursor: pointer;
  }
  .learn {
    padding: 10px 20px;
    font-size: 10px;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .learn:hover{
     color: white;
     background-color: black;
  }
  
  .footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    color: #ffffff;
    font-family: 'Roboto';
    margin-top: 100px;
    height: 300px;
    align-content: center;
  }
  .img-footer {
    width: 200px;
    height: 100px;
    margin-left: 100px;
    align-self: center;
  }
  .img-footer > img {
    width: 100%;
    height: 100%
  }
  .icons {
    align-self: center;
    margin-left: 60px;
    color:white;
  }
  .icons > p {
    font-weight: bold;
    font-size: 30px;
  }
  .Contact {
    align-self: center;
    margin-right: 100px;
  }
  .last{
    color: rgb(50, 205, 50);
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    background-color: black;
  }
  .last>p{
    font-size: 60px;
    color: #96F522;
  }
  .last>a{
    color:black;
    background-color: white;
    border-radius: 10px;
    padding:10px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
  .last>a:hover {
    background-color: white;
    color: rgb(50, 205, 50);
    transform: translateY(-5px);
    cursor:pointer;
  }

  .last>a:active {
    box-shadow: none;
    transform: translateY(0);
  }
  *, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 700px;
    max-width: 80%;
    color: black;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header .title {
    font-size: 35px;
    text-align: center;
    font-weight: bolder;  
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .modal-body>p{
    font-size:20px;
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  .option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color:black;
}

.citizen-option, .agency-option {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left:50px;
    
    padding: 50px 0;
    text-decoration: none;
    color: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}
.agency-option{
  margin-right: 50px;
}

.citizen-option:hover, .agency-option:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); 
}

.citizen-option:active, .agency-option:active {
    transform: scale(0.95); 
}

.citizen-option i, .agency-option i {
    font-size: 50px;
}

.citizen-option p, .agency-option p {
    font-size: 30px;
    font-weight: bold;
}
